.typescript.hljs {
    background-color: #2d3941;
    display: inline-block;
    border-radius: 5px;
}

.typescript .hljs-keyword,
.typescript .hljs-params,
.typescript .hljs-built_in {
    color: #dee0e2 !important;
}